.testInfo {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    /*background: #61dafb;*/
}

.nameAndEditIcon {
    display: grid;
    grid-template-columns: auto 40px;
    align-items: center;
    margin-bottom: 3%;

}

.editIcon {
    /*margin-left: -50px;*/
}

.testDescription {
    font-family: 'Alice', serif;
    /*font-family: 'Forum', cursive;*/
    /*font-family: 'Cormorant Infant', serif;*/
    /*font-family: 'Cormorant Garamond', serif;*/
    font-size: 15pt;
    line-height: 180%;
    width: 95%;
    min-height: 200px;
}

.questionCard {
    display: block;
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    font-size: 20pt;
    background: #A90942;
    margin: 5% 3% 0 0;
    border-radius: 52px;
    min-height: 100px;
    width: 90%;
    padding: 3% 5%;
    background: #FFFFFF;
    box-shadow: 4px 4px 5px 0px rgba(181, 181, 181, 0.2),
    -4px 4px 20px 0px rgba(255, 255, 255, 0.3),
    inset 3px -3px 5px 0px rgba(212, 219, 171, 0.5),
    /*inset 3px -3px 5px 0px rgba(230, 230, 230, 0.5),*/
    inset -3px 3px 5px 0px rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

input[type = 'button'] {
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    font-size: 15pt;
    color: #4a4a4a;
    outline: none;
}

.redbtn {
    width: 65px;
    height: 65px;
    background: #E88732;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 5px 0px rgba(181, 181, 181, 0.2),
    -4px 4px 20px 0px rgba(255, 255, 255, 0.3),
    inset -3px -3px 5px 0px rgba(222, 121, 33, 0.5),
        /*inset 3px 3px 5px 0px rgba(254, 163, 84, 0.5);*/
    inset 3px 3px 5px 0px rgba(255, 255, 255, 0.5);
    margin: 20px;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.yesbtn {
    width: 65px;
    height: 65px;
    background: #E6EBC3;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 5px 0px rgba(181, 181, 181, 0.2),
    -4px 4px 20px 0px rgba(255, 255, 255, 0.3),
    inset -3px -3px 5px 0px rgba(212, 219, 171, 0.5),
    inset 3px 3px 5px 0px rgba(255, 255, 255, 0.5);
    margin: 20px;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.nobtn {
    width: 65px;
    height: 65px;
    background: #E6EBC3;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 5px 0px rgba(181, 181, 181, 0.2),
    -4px 4px 20px 0px rgba(255, 255, 255, 0.3),
    inset -3px -3px 5px 0px rgba(212, 219, 171, 0.5),
    inset 3px 3px 5px 0px rgba(255, 255, 255, 0.5);
    margin: 20px;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.answersBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.answersBox p {
    margin-left: 10px;
    min-width: 150px;
    /*cursor: pointer;*/
    /*transition-duration: .2s;*/
    /*transition-timing-function: ease-in-out;*/
}

.answerbtn {
    width: 65px;
    height: 65px;
    border-radius: 50px;
    cursor: pointer;

    /*background: #E6EBC3;*/
    /*box-shadow: 4px 4px 5px 0px rgba(181, 181, 181, 0.2),*/
    /*-4px 4px 20px 0px rgba(255, 255, 255, 0.3),*/
    /*inset -3px -3px 5px 0px rgba(212, 219, 171, 0.5),*/
    /*inset 3px 3px 5px 0px rgba(255, 255, 255, 0.5);*/

    background: #FFFFFF;
    box-shadow: 4px 4px 5px 0px rgba(181, 181, 181, 0.2),
    -4px 4px 20px 0px rgba(255, 255, 255, 0.3),
    inset -3px -3px 5px 0px rgba(181, 181, 181, 0.2),
    inset 1px 1px 10px 0px rgba(181, 181, 181, 0.1);

    margin: 20px;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.answerbtn:hover {
    transform: scale(1.05);
    background: #E6EBC3;
    box-shadow: 4px 8px 5px 0px rgba(181, 181, 181, 0.2),
    -4px 4px 20px 0px rgba(255, 255, 255, 0.3),
    inset -3px -3px 5px 0px rgba(212, 219, 171, 0.5),
    inset 3px 3px 5px 0px rgba(255, 255, 255, 0.5);
}

.answerbtn:active {
    transform: scale(1.5);
    background: #E6EBC3;
    box-shadow: 4px 8px 5px 0px rgba(181, 181, 181, 0.2),
    -4px 4px 20px 0px rgba(255, 255, 255, 0.3),
    inset -3px -3px 5px 0px rgba(212, 219, 171, 0.5),
    inset 3px 3px 5px 0px rgba(255, 255, 255, 0.5);
}

.arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.backArrow, .nextArrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.backArrow:hover {
    transform: scale(1.2);
}

.nextArrow {
    transform: rotate(180deg);
}

.nextArrow:hover {
    transform: scale(1.2) rotate(180deg);
}